#app {
    width: 100%;
    height: 100%;
    background-color: #282a34;
    position: relative;
}

#app > * {
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
}

.logo,
.tools,
.lightnings-list {
    position: absolute;
    top: 0;
    right: 50px;
    background-color: aliceblue;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    z-index: 9;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .logo__title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    user-select: none;
}

.logo .logo__img {
    width: 40px;
}

.logo .orange {
    color: #F37947;
}


.tools {
    top: 100px;
    right: 0;
    border-radius: 10px 0 0 10px;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px 10px;
}

.tools .tools__btn {
    transition: all .2s ease;
}

.tools .tools__btn img {
    width: 25px;
    height: 25px;
}

.tools .tools__btn:hover {
    transform: scale(1.2);
}

.lightnings-list {
    top: 300px;
    right: 0;
    width: 350px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px 10px;
    transition: all .2s ease-in-out;
    transform: translateX(305px);
    cursor: help;
}

.lightnings-list * {
    color: aliceblue;
    transition: color .2s ease-in-out;
}

.lightnings-list:hover {
    transform: translateX(0);
}

.lightnings-list:hover * {
    color: #282a34;
}

.lightnings-list:hover li {
    color: mediumslateblue;
}
.lightnings-list:hover strong {
    color: darkmagenta;
}

.lightnings-list .lightnings-list__title {
    font-size: 22px;
    font-weight: bold;
}

.lightnings-list .lightnings-list__list {
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    padding-left: 30px;
    list-style-type: decimal;
}

.lightnings-list__list .lightnings-list__list-item {
    list-style-type: decimal;
}


.notification {
    position: absolute;
    padding: 20px 30px;
    border-radius: 10px;
    top: 70px;
    left: 10%;
    z-index: 9;
    transition: all .2s ease;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 400% 400%;
    animation: shitty-anima .5s alternate infinite, gradient 1s linear infinite;
    backface-visibility: visible;
    opacity: 0;
    visibility: hidden;
}

.notification.notification--visible {
    opacity: 1;
    visibility: visible;
}

.notification::after, .notification::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -10px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("assets/cat.png");
}

.notification::before {
    top: initial;
    bottom: -110px;
    left: 10px;
    width: 160px;
    height: 160px;
    background-image: url("assets/lights.png");
}

.notification h3 {
    z-index: 9;
    font-size: 20px;
    color: yellowgreen;
    font-weight: 900;
    text-shadow: 0px 2px 0 crimson;
    text-decoration: underline;

}

@keyframes shitty-anima {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    100% {
        transform: scaleY(1.2) scaleX(1.2);
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes flip {
    0% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
        transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn)
    }

    40% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
        transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg)
    }

    50% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
        transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg)
    }

    80% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg);
        transform: perspective(400px) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg)
    }

    to {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
        transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg)
    }
}
